*{
   margin: 0px;
   padding: 0px;
}

.container{
  text-align: center;
   margin: auto; 
   
}

.start {
   
   height: 60px;
   padding: 10px;
   font-family: Arial, Helvetica, sans-serif;
   border-bottom:1.5px solid rgb(0, 0, 0);
   
}
.start div {
   display: inline-block;
}

.tiaim{
background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   width:25%;
   height: 65px;
   font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;;
   text-align: center; float: left;
 
}
.tiaim a{
   color: rgb(0, 0, 0); height: 0px; text-decoration: none;

}
.imggol{
   width: 73px; position: relative; right: 8px; top: 3px;
}
.imggol img {
   width: 100%;
}
.title{
   position: relative; bottom: 5px; right: 5px;transition: 0.9s;
}
.title h1 {
   position: relative;
   left: 2px;
   bottom: -4px;
  
   font-size: 28px;
}
.title span {
   position: relative;
   left: 2px;
   bottom: 4px;
   font-size: 18px;
}
.seul{
   background-color: rgb(255, 255, 255);
   width: 55%;     height: 65px;
} 
.search {
   position: relative; left: 282px; bottom: 40px;
}
.search input{
   font-size:15px ;
   width: 300px; height: 30px;  position: relative; top: 2.3px;  
    border-radius: 10px; font-family:Arial, Helvetica, sans-serif; border: rgb(136, 135, 135) solid 
}

.search  button{
   border-radius: 10px; border: rgb(136, 135, 135) solid ;height: 30px; width:45px ; background-color: rgb(255, 255, 255);
   cursor: pointer;position: relative;   top: 13px;
}
.search  button img{
  width: 45px; position: relative; right: 2px; bottom: 1px;
   }
   
   .goalstable{
font-family: Arial, Helvetica, sans-serif; position: relative; right:129px; top:26px;
   }

   .goalstable ul {
    height: 50px; color: rgb(3, 3, 3); 
    list-style: none; 
  
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.l{
   color: black;  height: 41px;  border-bottom:2px solid rgb(0, 0, 0);
}


.goalstable li {
    margin-right: 30px; 
    float: left; font-size: 20px; text-align: center;
    cursor: pointer;

}
.goalstable a li{
   color: black;
}

.start ul :hover{
    height: 41px; border-bottom:2px solid rgb(0, 0, 0);
}



   .loga{
      background-color: rgb(255, 255, 255);
      width: 20%;float: right;height: 65px;
   } 
   
.sign button{
   width: 80px; height: 35px; 
   background-color: #18b8d8;
    position: relative;
     float: right; 
     LEFT :23px;
     font-size:15px ;
      bottom: -23px;
      border: rgb(255, 255, 255);
      border-radius: 10px ;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      cursor: pointer; transition: 0.4s;
}

.login button{
   width: 80px; height: 35px; 
   background-color: #18b8d8;
    position: relative;
     float: right; 
     left: 30px;
     font-size:15px ;
      bottom: -23px;
      border: rgb(255, 255, 255);
      border-radius: 10px ;transition: 0.4s;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      cursor: pointer; 
}




.login button:hover{
   letter-spacing: 0.1rem; transition: 0.4s;
   }
   .sign button:hover{
      letter-spacing: 0.1rem;transition: 0.4s;
   }






.back{
   position: fixed;
   background: rgb(40, 42, 43); 
   height: 0px; width:100%; float: right; top: 0.1px; 
 

}
.menheader {
   height: 60px;
   display: flex;
   justify-content: space-between;
}

.container1{
   position: relative; bottom: 2000px;   ;  height: 100vh; overflow-y: auto; overflow-x: hidden;
}
.tiaim1{
  opacity: 1;
      color: rgb(0, 0, 0);
     
      height: 65px;
      font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;;
      text-align: center; float: left;
    
   }
   .tiaim1 a{
      color: rgb(255, 255, 255); height: 0px; text-decoration: none;
   
   }
   .imggol1{
      width: 73px; position: relative; right: -59px; top: 13px;
   }
   .imggol1 img {
      width: 100%;
   }
   .title1{
      position: relative; bottom: 40px; right: -134px;transition: 0.9s;
   }
   .title1 h1 {
      position: relative;
      left: 2px;
      bottom: -4px;
     
      font-size: 24px;
   }
   .title1 span {
      position: relative;
      left: 2px;
      bottom: 4px;
      font-size: 15px;
   }

   .closemenu svg{
width: 24px; 
height: 24px; 
float: right; 
position: relative; 
left:-23px; 
top:38px; 
opacity: 1;
cursor: pointer;

   } 
   .closemenu h3 {
      font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;;
font-size: 22px; color: rgb(255, 255, 255);float: right; position: relative; 
left:30px; 
opacity: 0; cursor: pointer;
top:37px; 
   }
   .mencontent{
      text-align: center; margin-top: 100px; opacity: 0;
   }
   .search1{
     
      position: relative;
      top: 97px;
   }
   .search1 form {
      height: 0px;margin-left: 20px;
   
   }
   .search1 input{
      font-size:15px ;
      width: 130px; height: 30px;  position: relative; top: 2.3px;  
       border-radius: 10px; font-family:Arial, Helvetica, sans-serif; border: rgb(136, 135, 135) solid 
   }
   
   .search1  button{
      border-radius: 10px; border: rgb(136, 135, 135) solid ;height: 30px; width:45px ; background-color: rgb(255, 255, 255);
      cursor: pointer;position: relative;   top: 13px;
   }
   .search1  button img{
     width: 45px; position: relative; right: 2px; bottom: 1px;
      }
      
      .goalstable1{
   font-family: Arial, Helvetica, sans-serif; 
      }
   
      .goalstable1 ul {
       height: 50px; color: rgb(3, 3, 3); 
       list-style: none; 
     position: relative;
     top: 50px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   }
   .l1{
      color:#00ca65 ;  
   }
   
   
   .goalstable1 li {
      transition: 0.9s;
       margin-top: 5px; 
     font-size: 20px; text-align: center;
       cursor: pointer;
       margin-left: 10px;
     
   }
   .goalstable1 a li{
      color: rgb(255, 255, 255); 
   }
   .goalstable1 a{
      text-decoration: none; width: 150px;
   }
   .goalstable1 ul :hover{
      color: #00ca65 ;
   }
   
   
   .loga1 {
      position: relative; top: 140px; display: flex; flex-direction: column;  align-items: center;
   }
   
      .sign1{
         height: 40px;margin-top: 15px; width: 40px;     margin-left: -36px; ;
      }
      .login1{
          width: 40px;    margin-left: -36px;;
      }
   .sign1 button{
      width: 80px; height: 35px; 
      background-color: #18b8d8;
     
      transition: 0.4s;
        font-size:15px ;
         border: rgb(255, 255, 255);
         border-radius: 10px ;
         font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         cursor: pointer; 
   }
   
   .login1 button{
      width: 80px; height: 35px; 
      background-color: #18b8d8;
     margin-top: 10px;
        font-size:15px ;
        transition: 0.4s;
         border: rgb(255, 255, 255);
         border-radius: 10px ;
         font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         cursor: pointer; 
   }
   
.login1 button:hover{
   letter-spacing: 0.1rem; transition: 0.4s;
   }
   .sign1 button:hover{
      letter-spacing: 0.1rem;transition: 0.4s;
   }

  .mencontent .lang11{
      margin-top: 164px;
   }
   .mencontent .lang11{
      color: rgb(255, 255, 255); font-family:Arial, Helvetica, sans-serif ;
     
      }
      .mencontent .lang11 a:hover{
      color: #00ca65 ; transition: 0.9s;
      }
    
      .mencontent a {
         color: rgb(255, 255, 255);
         text-decoration: none;
      }
      .lang12 a{
         color: rgb(0, 202, 101) ;
      }
      .menfooter .social1{
         margin-top: 20px;
      }
      .menfooter .socialh21 h3 {
  font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;;
font-size: 25px; color: rgb(255, 255, 255);
      }
      .menfooter .socialicons1{
       display: inline-flex;
       margin-left: 30px;
       margin-top: 10px;
      }
      
.youtube1{
   background: url("./footer/youtubeb.png"); width: 50px; height: 50px; margin-left: -6px; background-repeat: no-repeat;transition: 0.9s;
}
.youtube1:hover{
   background: url("./footer/youtubebh.png"); background-repeat: no-repeat;transition: 0.9s;
}
.facebook1{
   background: url("./footer/facebook-logo b.png"); width: 50px; height: 50px; background-repeat: no-repeat;transition: 0.9s;
}
.facebook1:hover{
   background: url("./footer/facebook-logo bh.png"); background-repeat: no-repeat;transition: 0.9s;
}
.headermen{
   float:right; width:300px ; height: 45px;position: relative;
   bottom: 600px; opacity: 0; right: 200px;
}

.men{
   height: 45px; width:90px ; cursor: pointer;  position: relative; right: -170px; 
}
.men svg{
  width: 35px;  position: relative; right: 3px;bottom: -7px;
 }
.men span{
  font-size: 22px;position: relative;right: 5px;bottom: -1.5px;line-height: 49px;
  font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;;


}
/*.men button{
   height: 45px; width:90px;  border: none; cursor: pointer;
}*/
















.cool{
   text-align: center;  height: 550px; background:url("./back/maxresdefault3.png"); 
    background-position:center ;  
     background-repeat:no-repeat  ;
    clip-path: polygon(0 0, 70% 0, 80% 100%, 0% 100%);
}
.vidiv{
   float: right; height: 0px;
position: relative; bottom: 483px; right: 55px;
}
.video{
   width: 330px; 
  text-align: center;
  
}
.video h1{
   position: relative; left: 50px; 
   font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
   font-size: 40px;
   top: 5px;
   border-bottom: 2px solid black ; width: 300px; white-space:nowrap;
}

.video p{
font-family: Arial, Helvetica, sans-serif; 
font-size:20px ; position: relative ; 
left: 50px; width: 300px; top:30px

}

.video button{
 width: 150px; height:50px ;  position: relative;  top: -6px; border-radius:6px ; 
 background-color: rgb(14, 151, 94) ;
 /*background:linear-gradient(90deg, #000000 0% ,rgb(16, 163, 102) 0% ,rgb(163, 4, 4) 100%);*/
 text-align: center; font-family: Arial, Helvetica, sans-serif;   cursor: pointer; 
 margin: 5px;
  border: none;font-size: 16px;
}
.video button span{
  transition:0.5s; color: rgb(0, 0, 0);   position: relative; left:4px ; 
}
.video button span:after{
   content: '\00bb';
   position: relative;
   opacity: 0;
   top: 0;
   right: -9px;
   transition: 0.5s;
}

.video button:hover span {
   padding-right: 20px;
 }
 
 .video button:hover span:after {
   opacity: 1;
   right: 1;
   transition: 0.5s;
 }
 .video a{
    position: relative; top: 105px; left:35px; 
 }
 

 
 .the{
   margin-top: 80px;
}
.theh1 {
 margin-left:150px ; text-align: left; width: 50%;
}
.theh1 h1{
   white-space:nowrap;
 font-size: 40px; 
 
 border-bottom: 2px solid black ; width: 300px;
 font-family:  "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
}
.theh1 p{
   width: 570px;
 margin-top: 27px;
 font-family: Arial, Helvetica, sans-serif;left: 150px; 

}
/*im1a2*/
.im1a2{
   position: relative; bottom:220px;height: 0px;
}
.im1a2 div {
   
   display: inline; margin: 18px; text-align: center; position: relative; left: 343px; 
}
.im1a2 img{
   margin-top: 32px;
}

.img1 img{
   height: 189px;  background-repeat: no-repeat;
   width: 189px; transition: 0.2s;  /*clip-path: circle(69.0% at 50% 50%);*/ border-radius: 15px;
}
.img2 img{
   height: 189px;  background-repeat: no-repeat; 
   width: 189px; /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}

/*im3a7*/
.im3a7 {
   position: relative; top: 86px;  
}
.im3a7 div{
   display: inline; margin: 18px; text-align: center; 
}
.im3a7 img{
   margin-top: 32px;
}
.img3 img{
   height: 189px;  background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img4 img{
   height: 189px; background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img5 img{
   height: 189px; background-repeat: no-repeat;
   width: 189px; /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img6 img{
   height: 189px;  background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img7 img{
   height: 189px;   background-repeat: no-repeat; margin-top:32px ;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
/*im8a12*/

.img8 img{
   height: 189px; background: url("./globalgoals/background8.png") ;  background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img9 img{
   height: 189px; background: url("./globalgoals/background9.png") ;  background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img10 img{
  height: 189px; background: url("./globalgoals/Background10.png") ;  background-repeat: no-repeat;
  width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img11 img{
  height: 189px; background: url("./globalgoals/Background11.png") ;  background-repeat: no-repeat;
  width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img12 img{
  height: 189px; background: url("./globalgoals/Background12.png") ;  background-repeat: no-repeat;
  width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;margin-top:32px ;
}

/*im13a17*/

.img13 img{
  height: 189px; background: url("./globalgoals/Background13.png") ;  background-repeat: no-repeat;
  width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
  
}
.img14 img{
  height: 189px; background: url("./globalgoals/Background14.png") ; background-repeat: no-repeat;
  width: 189px; /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img15 img{
  height: 189px; background: url("./globalgoals/Background15.png") ;  background-repeat: no-repeat;
  width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img16 img{
  height: 189px; background: url("./globalgoals/Background16.png") ;  background-repeat: no-repeat;
  width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img7{
   position: relative; right: 0px;
}
.img17 img{
  height: 189px; background: url("./globalgoals/Background17.png") ; background-repeat: no-repeat;
  width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;margin-top:32px ;
}
.img1:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72)); transition: 0.2s;
}
.img2:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img3:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img4:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img5:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img6:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img7:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img8:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img9:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img10:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img11:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
} 
.img12:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img13:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img14:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img15:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img16:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.img17:hover{
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}



@media screen and (min-width:1572px) {
   .search{
      position: relative; left: 100px;
      top:-9px;transition: 0.9s;
   }
   .goalstable li {
     transition: 0.9s;
     
   }
   
}


@media screen and (min-width:1391px){
   .img3 img{
     position: relative; left: 114px;
   }
   .img4 img{
      position: relative; left: 114px;
   }
   .img5 img{
      position: relative; left: 114px;
   }
   .img6 img{
      position: relative; left: 114px; 
   }
   .img7 img{
      position: relative; left: 114px;
   }

   
   .img8 img{
      position: relative; right: 1031px; top: 225px;
   }
   .img9 img{
      position: relative; left: 343px;
   }
   .img10 img{
      position: relative; left: 343px;
  }
   .img11 img{
      position: relative; left: 343px;
   }
   .img12 img{
      position: relative; left: 343px;
   }
   
  
   
   .img13 img{
      position: relative; right: 802px; top: 225px;
     
   }
   .img14 img{
      position: relative; right: 802px; top: 225px;
   }
   .img15 img{
      position: relative;
      left: 229px;
  }
  
   
   .img16 img{
      position: relative;
      left: 229px;
  }
  
   
   .img17 img{
      position: relative;
      left: 229px;
  }
  }



  .info{
     margin-top: 331px;
  }
.yout {
   margin-left:162px ; text-align: left; width: 50%;
}
  .yout h1{
   
   font-size: 40px; 
   border-bottom: 2px solid black ; width: 318px;
   font-family:  "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
}
.yout p{
   margin-top: 10px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;left: 150px; 
font-size: 20px;
}
.youtvid iframe{
  margin-top: 50px;
   
   background-size: 100px 100px; filter:drop-shadow(0 0 0.90rem rgb(41, 41, 41))
}

.footer{
   background-color:   rgb(40, 42, 43);;
   background-attachment: scroll; height: 300px; padding: 30px; margin-top: 30px; 
} 
.footer a {
   text-decoration: none;
}
.up{
   display: flex; 
   justify-content: space-between;
   margin: 15px;
   height: 65px;
   border-bottom:2px solid rgb(255, 255, 255) ;

}
.up .title{
   color: rgb(0, 0, 0); text-align: center; 
   height:60px;background-color: rgba(255, 255, 255, 0.993); width: 386px; border-radius: 15px;
}
.up .title h1{
   font-size: 33px;
   font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;;

}
.up .title span{
   font-family: Arial, Helvetica, sans-serif; font-size: 17px; position: relative; top: -2px;
} 
.up .lang1 a{
   color: rgb(0, 202, 101) ;
}
.up .lang{
color: rgb(255, 255, 255); font-family:Arial, Helvetica, sans-serif ;
margin-top: 16px;
}
.up .lang a:hover{
color: rgb(0, 202, 101) ; transition: 0.9s;
}
.up a {
   color: rgb(255, 255, 255);
   text-decoration: none;
}
.down{
   display: flex; 
   justify-content: space-between; 
   margin: 40px 85px; 
   text-align: center;
   color: rgb(255, 255, 255);
   font-family: Arial, Helvetica, sans-serif;
}
.down .thegloabal h3 {
   font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;;
font-size: 25px;
   
}
.down .thegloabal p{
   margin-top: 23px; color: #898989;
}
.about .sitemen {
margin-top: 5px;
}
.about ul{
  margin-top: 23px;
}
.about ul li{
   list-style: none;
   margin-top: 9px;
   color: #898989;
}
.about ul li:hover{
   color: #00ca65 ; transition: 0.9s;

}
.social{
   margin-top: 7px; 
}
.socialicons{
   margin-top: 14px;
   display:flex; 
}

.youtube{
   background: url("./footer/youtubeb.png"); width: 50px; height: 50px; margin-left: 21px; background-repeat: no-repeat;transition: 0.9s;
}
.youtube:hover{
   background: url("./footer/youtubebh.png"); background-repeat: no-repeat;transition: 0.9s;
}
.facebook{
   background: url("./footer/facebook-logo b.png"); width: 50px; height: 50px; background-repeat: no-repeat;transition: 0.9s;
}
.facebook:hover{
   background: url("./footer/facebook-logo bh.png"); background-repeat: no-repeat;transition: 0.9s;
}
.Tel{
   color: white; font-family: Arial, Helvetica, sans-serif; float: right;  
}
.teel{
   content: ".";
   background: url("./footer/tel.png");
   width: 106px;
   height: 22px;
   background-repeat: no-repeat;
   position: relative;
   left: 26px; 
}
.tel {
   margin-left: -55px;
   position: relative;
   top:2px;
}
.madee{
   content: ".";
   background: url("./footer/made.png");
   width: 119px;
   height: 22px;
   background-repeat: no-repeat;
   position: relative;
   left: 23px; 
}
.made{
   margin-left:-24px;
   position: relative;
   top:2px;
}
@media screen and (min-width:1001px)  {
   .container1{
     
       margin: auto;
       width: 1001px;
    }
}
  @media screen and (min-width:1500px){
   .search{
      position: relative; left: 282px; top:-40px; transition: 0.9s;
   }
   .container{
      text-align: center;
       margin: auto;
       width: 1423px;
    }
    .foall{
      
       margin: auto;
       width: 1390px;}

}
@media screen and (max-width:1420px ){
   .search{
      position: relative; left: 261px;transition: 0.9s;
   }
   .search input{
      width: 260px; transition: 0.9s;
   }
   
.goalstable li {
   margin-right: 20px; transition: 0.9s;
  
}
}
@media screen and (max-width:1350px ){
   .goalstable li {
      margin-right: 15px; 
      font-size: 18px;
      transition: 0.9s;
   }
   .goalstable {
      position: relative;  top:29px;transition: 0.9s;
   }
}
@media screen and (max-width:1311px ){
   .search{
      position: relative; left: 240px;transition: 0.9s;
   }
 
}
@media screen and (max-width:1253px ){
   .search input{
      width: 240px; transition: 0.9s;
   }
   .theh1{
    
        
         left: 70px;
     }
   .vidiv{
      position: relative; right: 25px;transition: 0.9
   }
}
@media screen and (max-width:1236px ){
   .search input{
      width: 220px; transition: 0.9s;
   }
   .goalstable {
      position: relative;  left: -98px;transition: 0.9s;
   }
}
@media screen and (max-width:1198px ){
   .search input{
      width: 180px; transition: 0.9s;
   }
   .goalstable {
      position: relative;  left: -80px;transition: 0.9s;
   }
   .seul{
      width: 53%;transition: 0.9s;
   }
   .tiaim{
      width: 27%;transition: 0.9s;  
   }
  /* .vidiv{
      position: relative; right: 20px;transition: 0.9
   }*/

}
@media screen and (max-width:1181px ){
   .search input{
      width: 160px; transition: 0.9s;
   }
   .sign button{
      width: 70px;transition: 0.9s;
   }
   
   .login button{
      width: 70px;transition: 0.9s;
   }
    .im1a2 div {
      left: 0px;
      bottom: -253px;
   }
      .im3a7 {
         position: relative;
         top: 259px;
     }
  
}




@media screen and (max-width:1148px ){
   .search input{
      width: 130px; transition: 0.9s;
   }
   .search{
      position: relative; left: 220px;transition: 0.9s;
   }
   
   .sign button{
      width: 60px;transition: 0.9s;
   }
   
   .login button{
      width: 60px;transition: 0.9s;
   }
   .video h1{
      font-size: 38px;
     
      border-bottom: 2px solid black ; width: 290px;
   }
   
   .video p{
   
   font-size:20px ; position: relative ; 
   left: 70px; width: 250px; 
   
   }
   .cool{
      
       clip-path: polygon(0 0, 65% 0, 75% 100%, 0% 100%);transition: 0.9s;
   }
   
   
}
@media screen and (max-width:1110px ){
   .goalstable {
      position: relative;  left: -71px;transition: 0.9s;
   }
   .search input{
      width: 110px; transition: 0.9s;
   }
   /*.vidiv{
      position: relative; right: 15px;transition: 0.9
   }*/

}


@media screen and (max-width:1099px ){
   
   .title h1 {
      
      font-size: 26px;transition: 0.9s;
   }
   .title{
      position: relative; bottom: 5px; right: 10px;transition: 0.9s;
   }
   .title span{
      font-size: 16px;
   }
}
@media screen and (max-width:1060px ){
   
   
   .search input{
      width: 90px; transition: 0.9s;
   }
   .goalstable {
      position: relative;  left: -51px;transition: 0.9s;
   }
   .title h1 {
      
      font-size: 24px;transition: 0.9s;
   }
   .title span{
      font-size: 15px;
   }
   .title{
      position: relative; bottom: 5px; right: 10px;transition: 0.9s;
   }
  
}


/*TABLETS AND MOBILS*/






@media screen and (max-width:1000px ){
   .seul{
      position: relative; bottom: 600px;opacity: 0; transition: 1s;
      width: 0%;right: 500px;
   }
   .tiaim{
      width:45% ;
   }
   .loga{
      position: relative; bottom: 600px;  opacity: 0; transition: 1s;
      width: 0%; right: 500px;

   }
   .headermen{
      position: relative; bottom: 70px;opacity: 1;    right: 0px;
   }
   

.men {
  top: 11px;
   right: -170px;
}
.title {
   position: relative;
   right: 36px;transition: 0.9s;
  
}
.imggol {
   
   position: relative;
   right: 35px;transition: 0.9s;
   
}
.youtvid iframe {
width: 800px;
}
}
@media screen and (max-width:960px ){
   .cool{
      position: relative;  right: 150px; background: url(./back/maxresdefault3w.png); 
       text-align: center;  height: 466px;  clip-path: polygon(0 0, 80% 0, 90% 100%, 0% 100%);
   }
   .video h1 { top: 92px;
   font-size: 30px;    width: 229px; left: 80px;
   }
   .video p {
      width: 157px;
      left: 113px;
      top: 118px;
  }
  


.video a {
   
    top: 200px;
    
}

}
@media screen and (max-width:916px ){
  
     .theh1 {
     left: 91px;
   
  }
  .theh1 p{    width: 100%;}

}
@media screen and  (max-width:841px) {
   .cool{
      position: relative;  right: 190px; background: url(./back/maxresdefault3w.png); 
       text-align: center;  height: 466px;  clip-path: polygon(0 0, 80% 0, 90% 100%, 0% 100%);
   }
   .video h1 { top: 92px;
      font-size: 30px;    width: 229px; left: 100px;
      }
      .video p {
         width: 157px;
         left: 133px;
         top: 118px;
     }
     .video a {
   left: 60px;  
   }
   .title {
      position: relative;
      right: 16px;transition: 0.9s;
     
   }
   .imggol {
      
      position: relative;
      right: 15px;transition: 0.9s;
      
}
.youtvid iframe {
   width: 726px;
   height: 434px;
}
}   

@media screen and  (max-width:766px) {
   .cool{
      position: relative;  right: 150px; background: url(./back/maxresdefault3ww.png); 
       text-align: center;  height: 466px;  clip-path: polygon(0 0, 80% 0, 90% 100%, 0% 100%);
   }
   .title {
      position: relative;
      right: 6px;transition: 0.9s;
     
   }
   .imggol {
      
      position: relative;
      right: 5px;transition: 0.9s;
      
}
.theh1 p {
   font-size: 14px;
     
      width: 80%;
}   
.theh1 h1{
   font-size: 35px; width: 266px;
}
.youtvid iframe {
    width: 585px;
    height: 404px;
}
.down {
   display: flex;
   flex-direction: column;
}
.footer{
   height: 468px;
}
.about .sitemen {
   margin-top: 38px;
}
.social {
   margin-top: 32px;
}
.socialicons {
   margin-top: 14px;
   display: inline-flex;
}
.Tel {
  
   margin-top: -61px;
}
.footer {
   height: 481px;
}
}

@media screen and  (max-width:695.9px){
   .tiaim{
      width: 45%;
   }
   .headermen{
   width: 68px;
}

 .list{
   position: relative;
   left: 2px; 
 }
.men{  
   position: relative;
   left: -70px;
   
   width: 30px;}
.men span {
   position: relative;
   right: -39px;
   top: -26px;
}
.men svg {
   position: relative;
   right: -2px;
   top: 15.5px;
}
#list{
   right: 2px;
}

}

@media screen and  (max-width:624px){
   .tiaim{
      width: 55%;
   }
   .theh1{
      width: 60%;    margin-left: 90px;
   }
   .the{
      margin-top: 12px;
   }
   .theh1 p {
      font-size: 12px;
        
         
   }   
   .yout {
      margin-left: 96px;
      text-align: left;
      width: 50%;
  }
   
   .theh1 h1{
      font-size: 30px; width: 230px;
   }
   .cool{
      position: relative;  right: 150px; background: url(./back/maxresdefault3-Recoveredw.png); 
         height: 466px;  
   }
   .video h1 { top: 92px;
      font-size: 30px;    width: 229px; left: 120px;
      }
      .video p {
         width: 157px;
         left: 150px;
         top: 118px;
     }
     .video a {
   left: 80px;  
   }
   .youtvid iframe {
    
         width: 483px;
         height: 334px;
  }
  .up .title {
  
   width: 300px;
   
}
  
}
@media screen and  (max-width:520px){
   .tiaim{
      width: 60%;
   }
  
   .video h1 {
      font-size: 25px;
      width: 196px;
      left: 142px;
   }
       .video p {
         width: 157px;
         left: 160px;
         top: 118px;
         font-size: 18px;
     }
   
   .men {
      position: relative;
      left: -54px;
   }
   .youtvid iframe {
      width: 359px;
      height: 273px;
  }
  .yout p {
 
   font-size: 18px;
}
.up .title span {

   font-size: 15px;

   }
   .up .title h1 {
      font-size: 28px;
  }
  .up .title {
   width: 251px;
}
}
@media screen and  (max-width:480px){
   .tiaim{
      width: 90%;
   }
   .title {
      position: relative;
      right: 67px;transition: 0.9s;
     
   }
   .theh1 p {
      font-size: 12px;
     
   }   

   .imggol {
      
      position: relative;
      right: 68px;transition: 0.9s;
   }
      .info {
         margin-top: 498px;
     }  
     .up .title {
     
      margin-left: 68px;
  }   
  .up .title h1 {
   font-size: 25px;
   margin-top: 10px;
  }
  .up .title span {
   font-size: 13px;
}
.up .lang {
  
   width: 146px;
}
}
@media screen and (max-width:495px) {
   .footer {
      height: 517px;
   }
   
   
}
@media screen  and (max-width:470px){
   .im3a7 {
      position: relative;
      top: 484px;
  }
  .up .title {

      width: 499px;
  }
.up .title h1 {
font-size: 23px;
margin-top: 10px;
}
.up .title span {
font-size: 11px;
}
.up .lang {
  
   display: flex;
}
}

@media screen and  (max-width:450px){
   .title {
      position: relative;
      right: 67px;transition: 0.9s;
     
   }
   .men {
      position: relative;
      left: -40px;
   }
   .the{
      text-align: center;
   }
   .cool{
      position: relative;  right: 0px; background: url(./back/maxresdefault3mob.png); 
         height: 466px;     clip-path: polygon(0 0, 55% 0, 55% 100%, 0% 100%);

   }.vidiv {
      position: relative;
      right: 28px;
      bottom: 471px;
  }
   .imggol {
      
      position: relative;
      right: 68px;transition: 0.9s;
      width:60px;     top: 10px;
      
}

.title{
   bottom: -5px;transition: 0.9s;
}
.title span {
   font-size: 11px;transition: 0.9s;
}
.title h1 {
   font-size: 19px;transition: 0.9s;
}
.imggol1 {
      
   position: relative;
   right: -26px;transition: 0.9s;
   width:60px;     top:20px;
   
}

.title1{
bottom: 25px; right:-90px;transition: 0.9s;
}
.title1 span {
font-size: 11px;transition: 0.9s;
}
.title1 h1 {
font-size: 19px;transition: 0.9s;
}
.video h1 {
   font-size: 20px;
   width: 150px;
   left: 187px;transition: 0.9s;
  
}
.video button {
   width: 104px;transition: 0.9s;
}

.video a {
  top: 220px; left:94px;transition: 0.9s;
}
    .video p {
       
      width: 120px;
      left: 200px;
    
      font-size: 13px;transition: 0.9s;
  }
  .theh1 p {
   font-size: 11px;
}
.theh1 {
   margin-left: 35px;
 }
.the {
   margin-top: 58px;
}
.theh1 p{
   width: 90%;
}
.yout h1 {
   font-size: 30px;
   width: 234px;
}
.yout p {
   font-size: 15px;
}
.yout {
   margin-left: 53px;
  
 
}
.up .title {
  
   margin-top: -10px;   
   background-color: rgb(40, 42, 43); 

      margin-left: 41px;
    color: #ffffff;
}
.up .title h1 {
  font-size: 20px;
   white-space: nowrap;
}
.up .title span {
    font-size: 10px;
}


}
@media screen and (max-width:429px) {
   .footer {
      height: 610px;
   }
   .Tel {
      margin-top: -9px;}
      .down .thegloabal h3 {
         width: 150%;position: relative;
         right: 40px;
      }
}
@media screen and (max-width:400px) {

   .cool {
      position: relative;
    right: 17px;
      clip-path: polygon(0 0, 55% 0, 55% 100%, 0% 100%);
  }
   
}
@media screen and  (max-width:385px){
   .men {
      position: relative;
      left: -35px;
   }
   .title{
      bottom: -10px; right: 56px;
   }
   .vidiv {
      position: relative;
      right: 42px;
      bottom: 471px;
  }
  .video h1 {
      font-size: 20px;
      width: 150px;
      left: 201px;transition: 0.9s;
     top: 78px;
   }
   .video button {
      width: 104px;transition: 0.9s; height: 37px;
   }.video a {
      top: 220px;
      left: 109px;}

   
       .video p {
          
         width: 120px;
         left: 214px;
      }
   .imggol {
      
      position: relative;
      right: 55px;transition: 0.9s;
      width:57px; top: 15px;
   }
   .title span {
      font-size: 10px;
   }
   .title h1 {
      font-size: 18px;
   }
   .youtvid iframe {
      width: 295px;
      height: 246px;
  }  
  .up a {
  
   font-size: 12px;
 margin-top: 5px;
} 
   .up .lang1{
font-size: 12px; margin-top: 5px;
 
} 
.down .thegloabal h3 {
   width: 150%;position: relative;
   right: 32px;
}
}
@media screen and (max-width:365px){
   .down .thegloabal h3 {
      width: 200%;
      position: relative;
      right: 57px;
   }

.about ul li {

 width: 121px;
}
.about ul {
 margin-left: -2px;
}
}
@media screen and (max-width:355.5px){
   .footer {
      height: 665px;
  }
}
@media screen and  (max-width:337px){
   .down .thegloabal h3 {
      width: 100%;
      position: relative;
      right: 0px;}


}
   @media screen and  (max-width:345px){
      
         .title{
            bottom: -10px; right: 37px;
         }
         .imggol {
            
            position: relative;
            right: 37px;transition: 0.9s;
            width:57px; top: 15px;
         }
         .title span {
            font-size: 10px;
         }
         .title h1 {
            font-size: 18px;
         }
         .youtvid iframe {
            width: 258px;
            height: 203px;
        }
        .yout p {
         font-size: 13px;
     }
     .cool {
      position: relative;
      right: 34px;}
     .up .lang {
    
      margin-left: -16px;
  }
  .up .title {
  
   background-color: rgb(40, 42, 43);
   margin-left: 27px;
  }
  .footer {
   height: 735px;
}
.about ul li {

 width: 100%;
}
.about ul {
 margin-left: 0px;
}

      }


@media screen and  (max-width:300px){
   .men svg {
      
      
      transition: 0.9s;
}
.men span{
 opacity: 0;
}
#spa{
   opacity: 0;    font-size: 0px;
}
   .men {
      position: relative;
      left: 27px;

   width: 0px;
}
.closemenu h3{
   opacity: 0;
    font-size: 0px;
}

.foldlist{

  margin-right: -79px; 

}
.vidiv {
   position: relative;
   right: 32px;
   bottom: 471px;
}
.video h1 {
   font-size: 18px;
   width: 138px;
   left: 208px;
}
.video p{
   font-size: 17px;
   left:220px
}
.yout h1 {
   font-size: 26px;
   width: 208px;}
   .yout h1 {
      font-size: 26px;
      width: 204px;
  }
   .footer {
      height: 785px;
  }
  .youtube {
  margin-left: -9px;
  }


.theh1 h1 {
    font-size: 26px;
    width: 197px;
}
.down .thegloabal h3 {
    width: 100%;
   
    right: 0px;
   }
   .down .thegloabal p {
      margin-top: 23px;
      color: #898989;
      width: 100px;
      margin-left: -23px;
  }
  .about ul li {
 
   width: 121px;
}
.about ul {
   margin-left: -28px;
}
.up a {
   font-size: 9px;
   margin-top: 8px;
}
.up .lang {
   margin-left: -16px;
   margin-top: 26px;
}
.tiaim1 a {
   right: 36px;
 
   position: relative;
  
}
}
   
