/*body{
    background-color: #e5233b;
}*/

.all1{
    position: relative; background-color: #0997d9;height: 400px; right: 10px;
}

.start{
    height: 45px; 
      font-family:Arial, Helvetica, sans-serif;
       padding: 20px;
       background-color: #0997d9; position: relative; right: 10px;
   
    }
    
    .start  h1{
        width: 187px; height: 35px;
     text-decoration: none;
        background-color:  rgb(255, 255, 255) ;
        right: 38px;

         color:rgb(0, 0, 0); 
         position: relative; 
         bottom: 15px;
          margin-left:125px; 
          font-size: 25px;
          transition: 0.10s;
          text-align: center;   
          font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
    }

    .start h1::before{
        content:"\02C2" ; opacity: 1;
        position: relative ; right: 3px;transition: 0.10s; top: 1px;

    }
    .start h1:hover::before{
        right: 5px;transition: 0.10s;
       
    }
    .start h1:hover{
        background-color: #dddddd; transition: 0.10s;
    }


    
    .start span{
    
        position: relative;bottom: 5.7ch; left: 77px; color: rgb(48, 48, 48); 
        border-radius:10px ; 
    }
 
    
        .start a{text-decoration: none; }
        .start ul {

            height: 50px; color: rgb(3, 3, 3); 
            list-style: none; 
            position: relative; 
            right:255px; bottom:38px;
            float: right;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
        }

        
        
        .start li {
            margin-right: 30px; 
            float: left; font-size: 20px; text-align: center;
            cursor: pointer; 
        
        }
        .start a li{
           color: rgb(0, 0, 0);
        }
        
        .start li:hover{
            height: 41px; border-bottom:2px solid rgb(0, 0, 0);
        }
   
    .start hr{
       position: relative; bottom: 11.1ch; width: 1390px; 
    }
    
    .sign button{
        width: 80px; height: 35px; 
        background-color:#0997d9;
         position: relative;
          float: right; 
          LEFT :-110px;
          bottom: 461px;
           border: rgb(255, 255, 255);
           border-radius: 10px ;
           font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           cursor: pointer; 
           font-size: 15px;color: rgb(255, 255, 255);
    }
    
    .login button{
        width: 80px; height: 35px; 
        background-color: #0997d9;
         position: relative;
          float: right; 
          left: 60px;
          bottom: 461px;
           border: rgb(255, 255, 255);
           border-radius: 10px ;
           font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           cursor: pointer; 
           font-size: 15px;color: rgb(255, 255, 255);

    }
    
    
    
     .search{
         height: 50px; 
        /* background:linear-gradient(90deg, #000000 0% ,rgb(126, 11, 11) 0% ,rgb(0, 60, 255) 100%); */
        width: 350px;   text-align: center;
         border-radius: 60px;  position: relative; bottom:470px ;  left: 106.2ch;  
         
     }
    .search input{
       width: 300px; height: 30px;  position: relative; top: 2.3px;  
        border-radius: 10px;;font-family: Arial, Helvetica, sans-serif; border: rgb(136, 135, 135) solid ;
        font-size: 17px;
    }
    
    .search button {
       border-radius: 10px; border: rgb(136, 135, 135) solid ;height: 30px; width:45px ; background-color: rgb(255, 255, 255);
       cursor: pointer; position: relative;   top: 13px;  
    }
    
    .search button img{
      width: 45px; position: relative; right: 9px; bottom: 2px;
    }

    
    .img{
        height:189px ; width: 189px; background:url("./Background14.png") ; filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72)); 
        position: relative; left: 100px;  top: 475px; border-radius:15px ;
      }

      .pro{
           position: relative; bottom:180px; left: 400px;  width: 402px;
          
      }
      .pro h1{
        color: rgb(255, 255, 255);font-size: 60px;  width: 280px; position: relative; bottom:150px;
        font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif; 
      }
    
      .pro::before{
          content: "14"; position: relative; right: 180px; top: 49px; font-weight: 600;
          color: rgb(25, 78, 82); font-size: 150px; font-family: 'CombiNumerals Ltd', sans-serif;
      }
      .p{
          position: relative ; bottom: 860px;left: 265px; width: 60px;
      }
      .p p{
          width: 600px;  position: relative; color: rgb(255, 255, 255);
            font-size: 30px; font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;

      }
        .img1{    
            height: 486px;
            width: 650px;
            background: url("./06344c464c744d04b140205f09772217.jpg");
            background-repeat: no-repeat;
            position: relative;
            left: 775px;
            bottom: 664px;
            clip-path: polygon(40% 0,0 100%, 100% 100%,100% 0);
           
        }
       
        .pov {
            position: relative; left:350px; width:450px; 
        }
        .pov h1{
            font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
            border-bottom:2px solid #000 ; width: 304px; font-size: 40px;
        }
        .pov p{
            font-family: Arial, Helvetica, sans-serif; width: 750px; font-size: 20px; position: relative; bottom: 10px;
            
        }


        .video{
            text-align: center; position: relative; top:50px;
        }
        .tar{
            position: relative; top:100px; left: 150px; width: 500px;
        }
        .tar h1{
            font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
            font-size: 40px;
            border-bottom:2px solid #000 ; width: 190px;
        }
        .tar p{
            font-family: Arial, Helvetica, sans-serif; width: 500px; font-size: 20px; position: relative; bottom: 20px;
            
        }
        .tar a button{
            position:relative; top: 40px; left: 400px; width: 300px; height: 40px; font-size: 20px;
            background-color:#0997d9; border:  none; cursor: pointer ; color: rgb(255, 255, 255);
        }
 
.all2{
    position: relative ;   bottom: 400px;  margin: -7px;height: 0.00000000000000000000001px;
} 
   .bage{
      height: 55px;
      position: relative ; top: 49ch;  
      right: 90px; font-family: Arial, Helvetica, sans-serif;  
       width: 380px; 
    }
   .bage h1 { 
      width: 250px; height: 45px;
   text-decoration: none;
      background-color:  rgb(255, 255, 255) ; border-radius: 10px ;
      position: relative; top: 10px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left:125px; 
      font-size: 25px;
      text-align: center;   
      
    }
    .bage span{
       position: relative; bottom: 27px;left:150px;  width: 500px;
    }
    .bage img{
  position: relative; bottom: 80px; left: 23px;
    }
 
   .bage a {
      text-decoration: none ; color: rgb(0, 0, 0);
   }
  
 .lang{
    height: 200px;position: relative; top: 80ch; background-color: rgb(47, 50, 51);  
  
   }
   .lang  span{
      color: rgb(255, 255, 255); position: relative; top: 48px; left: 155.7ch;
 
   }
 .lang a{
    text-decoration: none; color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif;
    position: relative; top: 50px; left: 140ch;
 }  
 
    .lang a:hover{
       color: rgb(22, 197, 124);}

    
 .all2 hr {
    width: 169ch; position: relative; bottom: 25px;
 }
 
 
 .lang1 a{
    position: relative;top:3px; left: 1px; color:rgb(255, 255, 255);
    color: rgb(22, 197, 124);
    
    }
 
 .tel{
    color: rgb(255, 255, 255); position: relative; top: 540px; left: 138ch;font-family: Arial, Helvetica, sans-serif;
 }
 .made{
    color: rgb(255, 255, 255); position: relative; top: 520px; left: 120.7ch;font-family: Arial, Helvetica, sans-serif;
 }
 
 .tel:after{
    content: "01019153027";
    position: relative;
    left: 5px; color: rgb(22, 114, 131);
 }
 .made:after{
    content: "Yahia Ahmed";
    position: relative;
    left: 5px; color: rgb(22, 114, 131);
 }
 .info{
    position: relative; top: 400px;  left: 400px; 
    color: rgb(255, 255, 255);font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; width: 650px;
    
 }
 .info li{
    list-style:none; float: left; margin:33px   ;
 }
 .info a{
     color: rgb(255, 255, 255);
 }
 .info li:hover{
     font-size: 21px;
 }