
.start{
   height: 45px; 
     font-family:Arial, Helvetica, sans-serif;
      padding: 20px;
      background-color: rgb(46, 86, 172); position: relative; margin: -8px;
      font-family: 'Tajawal', sans-serif,Verdana, Geneva, Tahoma, sans-serif;
  
   }
   
   .start  h1{
       width: 236px; height: 35px;
    text-decoration: none;
       background-color:  rgb(255, 255, 255) ;
       right: -1004px;
        color:rgb(0, 0, 0); 
        position: relative; 
        bottom: 15px;
         margin-left:125px; 
         font-size: 25px;
         transition: 0.10s;
         text-align: center;   
   }

   .start h1::after{
       content:"\02C3" ; opacity: 1;
       position: relative ; right: -2px;transition: 0.10s; top: 1px;

   }
   .start h1:hover::after{
       right: -5px;transition: 0.10s;
      
   }
   .start h1:hover{
       background-color: rgb(224, 221, 221); transition: 0.10s;
   }


   
   .start span{
   
       position: relative;bottom: 5.7ch; left: 77px; color: rgb(48, 48, 48); 
       border-radius:10px ; 
   }

   
       .start a{text-decoration: none; }
   
   .start ul {
   
       height: 50px; color: rgb(3, 3, 3); 
       list-style: none; 
       position: relative; 
       right:270px; bottom:79px;
       float: right;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   }
   
       
.l{
   color: black;  height: 45px;  border-bottom:2px solid rgb(0, 0, 0);
}
   
   .start li {
       margin-right: 30px; 
       float: left; font-size: 20px; text-align: center;
       cursor: pointer; 
   
   }
   
   .start ul :hover{
       height: 45px; border-bottom:2px solid rgb(0, 0, 0);
   }
   .start a li{
       color: black;
    }
   .start hr{
      position: relative; bottom: 10.5ch; width: 1390px; 
   }
   
   .sign button{
       width: 80px; height: 45px; 
       background-color: #3f7e45;
        position: relative;
         float: right; 
         right :656px;
          bottom: 70px;
          border: rgb(255, 255, 255);
          border-radius: 10px ;
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          cursor: pointer; font-size: 15px;
   }
   
   .login button{
       width: 80px; height: 45px; 
       background-color: #3f7e45;
        position: relative;
         float: right; 
         right: 668px;
          bottom: 70px;
          border: rgb(255, 255, 255);
          border-radius: 10px ;
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          cursor: pointer; 
          font-size: 15px;
   }
   
   
   
    .search{
        height: 50px; 
       /* background:linear-gradient(90deg, #000000 0% ,rgb(126, 11, 11) 0% ,rgb(0, 60, 255) 100%); */
       width: 350px;   text-align: center;
        border-radius: 60px;  position: relative; bottom:-342px ;  left:36ch
        
    }
   .search input{
      width: 300px; height: 30px;  position: relative; top: -402.7px;  
       border-radius: 10px;;font-family: 'Tajawal', sans-serif; text-align: right; border: rgb(136, 135, 135) solid 
   }
   
   .search button {
      border-radius: 10px; border: rgb(136, 135, 135) solid ;height: 30px; width:45px ; background-color: rgb(255, 255, 255);
      cursor: pointer; position: relative;   top: -391px; right: 353px; 
   }
   
   .search button img{
     width: 45px; position: relative; right: 9px; bottom: 2px;
   }
   
    .safe{
        background-color: rgb(46, 86, 172); height: 450px; position: relative; bottom: 69px; margin: -8px;
    }
    .how{
        position: relative;    top: 50px; left: 838px;  margin: 10px;width: 508px; 

    }
    .how h1{
        border-bottom: 2px solid rgb(255, 255, 255); width: 420px; position: relative; text-align: right;
        font-size: 50px; color: white;left: 90px;
        font-family: 'Tajawal', sans-serif,Verdana, Geneva, Tahoma, sans-serif;
    }
    .how p{
        font-family: Arial, Helvetica, sans-serif; width: 508px;
        text-align: right; font-size: 25px;position: absolute; color: white;  bottom: -160px;
    }
    

    .ima{
        height: 0.000001px; width:0.00000001px; 
    }
    .img15{
        height: 189px; background: url("../site ar/b15/m.png") ; position: relative; top:10px;left: 112px; background-repeat: no-repeat;
        width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
        
     }
     .img13{
        height: 189px; background: url("../site ar/b13/k.png") ; position: relative; top: -179px;left: 337px; background-repeat: no-repeat;
        width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
        
     }
     .img6{
        height: 189px; background: url("../site ar/b6/d.png") ; position: relative; top:-367px;left: 563px; background-repeat: no-repeat;
        width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
        
     }
     .img6:hover{
        filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
      }
      .img13:hover{
        filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
      }
      .img15:hover{
        filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
      }


      .zz{
         border: black solid 2px; position: relative; top: 333px;
      }

      .wa{
          position: relative ; bottom: 20px;margin: 15px; height: 5px; left: 660px;width: 50px;
    
      }
          .wa h1{
            font-family: 'Tajawal', sans-serif,Verdana, Geneva, Tahoma, sans-serif; position: relative;  
            left: 170px;
            font-size: 40px; border-bottom: 2px solid black; width: 532px; text-align: right;
          }  
          .wa p{
            font-size: 20px;width: 700px;font-family: Verdana, Geneva, Tahoma, sans-serif; 
            position: relative; bottom: 20px; text-align: right;
          }
          .wa hr{
            border: black solid 1px;position: relative; bottom: 190px; right: 660px;     width: 1396px;
          }

.img66{
    height: 189px; background: url("../site ar/b6/d.png") ; position: relative; top:-211px; background-repeat: no-repeat;
    width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
    filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;right: 496px;
}


.cli{
   position: relative ; bottom: -233px;margin: 15px; height: 5px; left: 660px;width: 50px;

}
   .cli h1{
     font-family: 'Tajawal', sans-serif,Verdana, Geneva, Tahoma, sans-serif; position: relative;  
     left: 420px;
     font-size: 40px; border-bottom: 2px solid black; width: 279px; text-align: right;
   }  
   .cli p{
     font-size: 20px;width: 700px;font-family: Verdana, Geneva, Tahoma, sans-serif; 
     position: relative; bottom: 20px; text-align: right;
   }
   .cli hr{
     border: black solid 1px;position: relative; bottom: 190px; right: 660px;    width: 1396px;
   }

.img131{
    height: 189px; background: url("../site ar/b13/k.png") ; position: relative; top:-222px; background-repeat: no-repeat;
    width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;right: 496px;
   
    filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.cli hr{
    border: black solid 1px; position: relative; bottom: 190px;
  }

  .la{
   position: relative ; bottom: -519px;margin: 15px; height: 5px; left: 660px; width: 50px;

}
  .la h1{
   font-family: 'Tajawal', sans-serif,Verdana, Geneva, Tahoma, sans-serif; position: relative;  
   left: 420px;
   font-size: 40px; border-bottom: 2px solid black; width: 279px; text-align: right;
 }  
 .la p{
   font-size: 20px;width: 700px;font-family: Verdana, Geneva, Tahoma, sans-serif; 
   position: relative; bottom: 20px; text-align: right;
 }
 .la hr{
   border: black solid 1px;position: relative; bottom: 190px; right: 660px;
 }

.img151{
  height: 189px; background: url("../site ar/b15/m.png") ; position: relative; top:-311px; background-repeat: no-repeat;
  width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;right: 496px;
 
  filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
}
.la hr{
  border: black solid 1px; position: relative; bottom: 190px;
}

.all2{
   position: relative ; bottom: -413px;margin: -7px;height: 0.000000000000001px;
}
  .bage{
     height: 55px;
     position: relative ; top: 49ch;  
   left:110ch ;  font-family: 'Tajawal', sans-serif,Verdana, Geneva, Tahoma, sans-serif;
      width: 380px; 
   }
  .bage h1 { 
     width: 250px; height: 45px;
  text-decoration: none;
     background-color:  rgb(255, 255, 255) ; border-radius: 10px ;
     position: relative; top: 10px;
     font-family: 'Tajawal', sans-serif,Verdana, Geneva, Tahoma, sans-serif;
     margin-left:125px; 
     font-size: 24px;
     text-align: center;   
     
   }
   .bage span{
      position: relative; bottom: 27px;left:182px;  width: 500px;
   }
  

  .bage a {
     text-decoration: none ; color: rgb(0, 0, 0);
  }
 
.lang{
   height: 200px;position: relative; top: 81ch; background-color: rgb(47, 50, 51);
 
  }
  .lang  span{
     color: rgb(255, 255, 255); position: relative; top: 48px; left: 11ch;

  }
.lang a{
   text-decoration: none; color: rgb(255, 255, 255); font-family:Verdana, Geneva, Tahoma, sans-serif;
   position: relative; top: 50px; left: 8.6ch; 
   
}
.lang a:hover{
   color: rgb(22, 197, 124);
}

.lang1 a{
position: relative;top:3px; left: 1px; color:rgb(22, 197, 124);

}
/*.lang1 a::after{
   content: "\25C0"; 
   width: 50px;
   height: 50px;
   color:rgb(20, 149, 172); position: relative;
   right: 145px;
   
}
.lang1 a::before{
   content: "\25BA"; 
   width: 50px;
   height: 50px;
   color:rgb(20, 149, 172);
   right: 128px;
   
}*/


.h hr {
   width: 300ch; position: relative; bottom:-452px; right: 992px;
}


.tel{
   color: rgb(255, 255, 255); position: relative; top: 530px; left: 138ch;font-family: Arial, Helvetica, sans-serif;
}
.made{
   color: rgb(255, 255, 255); position: relative; top: 510px; left: 120.7ch;font-family: Arial, Helvetica, sans-serif;
}

.tel:after{
   content: "01019153027";
   position: relative;
   left: 5px; color: rgb(22, 114, 131);
}
.made:after{
   content: "Yahia Ahmed";
   position: relative;
   left: 5px; color: rgb(22, 114, 131);
}
.info{
   position: relative; top: 430px;  left: 400px; 
   color: rgb(255, 255, 255);font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px; width: 650px;
   
}
  

.info li{
   list-style:none; float: left; margin:33px   ;
}
.info a{
    color: rgb(255, 255, 255);
}
.info li:hover{
    font-size: 21px;
}
     .don{
         position: relative ; top: 999px; left: 550px;
     }
     .don button{
        width: 300px; height: 40px; font-size: 20px;
        background: rgb(34,152,182);
        background: linear-gradient(90deg, rgba(34,152,182,1) 0%, rgba(50,103,56,1) 49%, rgba(79,173,38,1) 100%); border:  none; cursor: pointer ; color: rgb(255, 255, 255);
     }